div {
    text-align: center;
}

.button {
    text-align: center;
    background-color: #a1c850;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 200;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin: 5px;
}